[submodule "lib/p"]
	path = lib/p
	url = git@github.com:ambiata/p
[submodule "lib/x"]
	path = lib/x
	url = git@github.com:ambiata/x
[submodule "lib/disorder"]
	path = lib/disorder
	url = git@github.com:ambiata/disorder.hs.git
[submodule "lib/mismi"]
	path = lib/mismi
	url = git@github.com:ambiata/mismi
[submodule "lib/twine"]
	path = lib/twine
	url = git@github.com:ambiata/twine
